<!-- this page lists all students-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student List</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
<h1>Student List</h1>
<a th:href="@{/students/new}" >Add New Student</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    <tbody>
        <tr th:each="student : ${students}">
        <td th:text="${student.id}">asdasdas</td>
        <td th:text="${student.firstName}"></td>
        <td th:text="${student.lastName}"></td>
        <td th:text="${student.email}"></td>
        <td>
            <a th:href="@{/students/delete/{id}(id=${student.id})}">Delete</a>
            <a th:href="@{/students/update/{id}(id=${student.id})}">Update</a>
        </td>
        </tr>
    </tbody>
</table>
</body>
</html>
