<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Teacher List</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>
<body>
<h1>Teacher List</h1>
<a href="/teachers/new">Add New Teacher</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Subject</th>
        <th>Actions</th>
    </tr>
    <tr th:each="teacher : ${teachers}">
        <td th:text="${teacher.id}"></td>
        <td th:text="${teacher.name}"></td>
        <td th:text="${teacher.subject}"></td>
        <td>
            <a th:href="@{/teachers/delete/{id}(id=${teacher.id})}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>
